body {
  background-color: #f4f4f4;
  /* background-image: linear-gradient(to top, #f6f6f6, #e6e0ef, #dbc8e5, #d4b0d8, #d096c6, #ce94c4, #cd92c3, #cb90c1, #cba6cf, #cdbbd8, #d4cede, #e0e0e0); */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
